/* #clearButton{
    display: inline;
    float: right;
    background: #f33;
    margin-right: 35px;
    font-weight: bold;
}

input{
    margin: 0;
    padding: 0;
    padding: 5px 15px;
    border-radius: 50px;
    color: #000;
    background: #f99;
    font-size: 15px;
    margin-bottom: 5px;
} */

/* p{
    color: #bbb;
    display: inline;
} */

canvas {
    margin:0;
    padding:0;
    background: white;
}

body {
    margin: 0;
    margin-bottom: 0;
    background: #545;
}
img{
    position: absolute;
    z-index: 10;
}
