canvas {
  margin:0;
  padding:0;
  background: white;
}

body {
  margin: 0;
  margin-bottom: 0;
  background: #999;
}
img{
  position: absolute;
  z-index: 10;
  /* -user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
p{
  position: absolute;
  z-index: 10;
}